* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color:#fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #007f73;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding:10rem 9% 2rem;
}
/* Header section code */

.header{
    position:fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;


}
.logo{
    font-size: 3rem;
    font-weight: 700;
    color: var(--bg-color);
    cursor:pointer;
    transition:0.3s ease;
}
.logo:hover{
    transform: scale(1.05);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--bg-color);
    margin-left: 4rem;
    transition:0.3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
}

#menu-icon{
    font-size: 2.5rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}


/* home section code */

.home{
    display:flex;
    align-items: center;
    justify-content: center;
}

.home-img img{
    width: 30rem;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
    animation: floatImage 4s ease-in-out infinite;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
}