* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #007f73;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header section code */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;


}

.logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--bg-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--bg-color);
    margin-left: 4rem;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

#menu-icon {
    font-size: 2.5rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}


/* home section code */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-img img {
    width: 30rem;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
    animation: floatImage 4s ease-in-out infinite;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;

}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;

}

.social-media a {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1.6rem;
    border-radius: 4rem;
    transition: 0.3s ease;
    letter-spacing: 0.1rem;
    font-weight: 600;

}

.btn:hover {
    box-shadow: 0 0 1.6rem var(--main-color);
}

/* About section code */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width: 25vw;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;

}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

.heading {
    font-size: 3.7rem;
    text-align: left;
}

.about-content {
    padding: 0 4rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* services section code */
.services h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.services-container .services-box {
    background: var(--snd-bg-color);
    flex: 1 1 30rem;
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    transition: 0.3s ease;
    border: 0.3rem solid var(--bg-color);
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02)
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);

}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* Testimonial section code */
.testimonial {
    background: var(--snd-bg-color);
}

.testimonial-box {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonial .heading {
    margin-bottom: 5rem;
}

.testimonial-box img {
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.testimonial-item {
    background: var(--bg-color);
    padding: 20px 20px;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s ease;
    max-width: 450px;
    min-height: 450px;
    flex-direction: column;
    display: flex;
    border: 0.3rem solid var(--bg-color);
    margin: 0 2rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--text-color);
    transition: 0.3s ease;

}

.testimonial-item:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.testimonial-item h2 {
    font-size: 3rem;
}

.testimonial-item p {
    font-size: 1.5rem;
    text-align: center;

}

#star {
    color: gold;
    font-size: 2rem;
}

/* contact section code */

.contact {
    background: var(--bg-color);
}

.contact .heading {
    text-align: center;
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--main-color);
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border: 0.25rem solid var(--main-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
    resize: none;
    color: var(--text-color);
}

.contact form .input-box input {
    width: 49%;
    margin: 0.7rem 0.35%;
}

.contact form .btn {
    margin-top: 2rem;
}

/* footer section code */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: var(--snd-bg-color);
    padding: 40px 0;

}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    display: inline-flex;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;

}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);

}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    color: var(--text-color);
    font-size: 16px;

}

/* responsive design code */
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
    
}
@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% ;
    }
    .services{
        padding: 7rem;
    }
    .testimonial.wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact form .input-box input{
        width: 100%;   
    }
    .footer{
        padding: 2rem 3%
    }
}
@media ( max-width:991px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--main-color);
        width: 225px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }
    .navbar a{
        display: block;
        padding: 17px;
        font-size: 22px;
        
    }
    .navbar.active{
        right: 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content{
        order: 2;
        margin-left: 1rem;

    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
     .about{
        flex-direction: column-reverse;
    }
    .about-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
        
    }

}
@media  (max-width: 617px) {
    .home-img img{
        width: 70vw;
        margin-top: 8rem;
    }
    .about-img img{
        width: 70vw;
        margin-top: 4rem;
    }

}
@media(max-width: 617px){
    html{
        font-size: 50%;
    }
}
/* @media(max-width:1200px) */
